


<div class="header">
<h1>Support</h1>
</div>

<div class="one">
  <mat-list-item>Case Worker</mat-list-item>
  <mat-card class="support-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Nathan Scott</mat-card-title>
      <mat-card-subtitle>555-555-5555</mat-card-subtitle>
      <mat-card-subtitle>nscott@gooddads.com</mat-card-subtitle>
      <img class="case-worker-img"mat-card-sm-image src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?auto=format&fit=crop&q=80&w=2487&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
    </mat-card-title-group>
  </mat-card-header>
  </mat-card>
</div>

<div class="two">
  <mat-list-item class="resources-tab">Resources</mat-list-item>
    <mat-card class="support-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>FAQ</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>

  </div>

  <div class="three">
      <mat-card class="support-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Good Dads Podcast</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
  
    </div>
