.support-header {

}

.support-card {
    max-width: 300px;
    border-radius: 25px;
    justify-content: center;
    padding: 10px;
  }

.case-worker-img {
  max-height:250px;
  padding: 10px;

}

.resources-tab {
    margin-top: 25px;
    padding-bottom: 10px;
  }
.one {
  max-width: 250px;
  padding-top: 15px;
}

.two {
  padding-top: 30px;
}

.three {
  padding-top: 10px;
}