div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  width: 100vw;
}
h1, h2 {
  margin-left: 5%;
  padding-top: 5%;
}
.header{
  padding-top: 5%;
  margin: 0;
  padding: 0;
  background: #2E5077;;
  height: 20%;
  width: 100vw;
  color: white;
  width: 100%;
  display: flex;
}


.support-card {
    max-width: 600px;
    border-radius: 25px;
    justify-content: center;

  }
  .mat-mdc-card-header{
    padding: 16px 16px 0;
    min-width: 300px;
    max-width: 450;
  }

.support-main {

    padding: 5% 10%;
  }

  .mdc-card__media:last-child{
    width: 20%;
    border-radius: 100%;
  }
.cards{
  text-align: center;
}

.case-worker-img {
  max-height:250px;
  padding: 10px;

}

.resources-tab {
    margin-top: 25px;
    padding-bottom: 10px;
  }
.one {
  max-width: 250px;
  padding-top: 15px;
}

.two {
  padding-top: 30px;
}

.three {
  padding-top: 10px;
}
.support-card {
  max-width: 300px;
  border-radius: 25px;
  justify-content: center;
  padding: 10px;
  }