div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  width: 100vw;
}
h1, h2 {
  margin-left: 5%;
  padding-top: 5%;
}
.header{
  padding-top: 5%;
  margin: 0;
  padding: 0;
  background: #2E5077;;
  height: 20%;
  width: 100vw;
  color: white;
  width: 100%;
  display: flex;
}

.support-card {
    max-width: 600px;
    border-radius: 25px;
    justify-content: center;

  }
  .mat-mdc-card-header{
    padding: 16px 16px 0;
    min-width: 300px;
    max-width: 450;
  }

.support-main {

    padding: 5% 10%;
  }

  .mdc-card__media:last-child{
    width: 20%;
    border-radius: 100%;
  }
.cards{
  text-align: center;
}
