<h1>Welcome!</h1>

<form class="login-form">
    <mat-form-field class="example-full-width">
      <mat-label for="email">Email</mat-label>
      <input matInput name="email" id="email" type="email" placeholder="Enter your email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label for="password">Password</mat-label>
      <input matInput name="password" id="password" type="password" placeholder="Enter your password">
    </mat-form-field>
</form>

<button routerLink="/admin">admin</button>
<button routerLink="/user">companion</button>

<app-auth></app-auth>
