.signIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
input{
  border-radius: 0px;
}

.login-form{
  display: flex;
  flex-direction: column;
}

.signIn img{
  margin-bottom: 2rem;
  width: 10rem;
}

