.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 100vw;
}

h1 {
  margin-left: 5%;
}

button{
  margin-top: 16rem;
  margin-left: 25%;
  width: 50%;
}

.header{
  padding-top: 5%;
  background: #20421d;
  color: white;
  width: 100%;
  display: flex;
}
