div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  width: 100vw;
}
h1, h2 {
  margin-left: 5%;
  padding-top: 5%;
}

.header{
  padding-top: 5%;
  margin: 0;
  padding: 0;
  background: #2E5077;;
  height: 20%;
  width: 80px;
  color: white;
  width: 100%;
}


.mat-mdc-card{
  width: 90%;
}

.mat-mdc-card-content{
  display: flex;
  justify-content: space-between;
}

.alerts{
  margin-top: 5%;
}

img{
  margin-top: auto;
  padding-right: 8px;
  width: 18px;
}
