div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5%;
  width: 100%;
  width: 100vw;
}

.mat-mdc-card{
  width: 90%;
}
.alerts{
  margin-top: 5%;
}

img{
  margin-top: auto;
  padding-right: 8px;
  width: 18px;
}
