form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 10%;
}

form *{
  display: flex;
  margin: 0 2%;
  width: 100%;
  flex-basis: 36%;
}

.div{
  display: flex;
  flex-direction: column;
}

h1{
  margin-top: 10%;
  margin-left: 33%;
  margin-bottom: 0;
}

button::ng-deep{
  background: #20421d;
  color: white;
}
input{
  line-height: 3rem;
}

