
.container{
  margin-top: 20px;
  max-width: 480px;
  min-width: 310px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav{
  justify-self: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;

}

