
.container{
  max-width: 480px;
  min-width: 310px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../../assets/logos/horizontal-blacklogo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 90%;
  background-size: 300px;
}

.nav{
  justify-self: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
}

