<h1>My Schedule</h1>

<div></div>

<mat-card class="mat-card">
    <mat-card-header>
        <mat-card-title>Week 1</mat-card-title>
        <mat-card-subtitle>Lession Title</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
        <button mat-button>Start Quiz</button>
    </mat-card-actions>
</mat-card>
    
<!-- Next step: Repeat mat-card to complete 16 weeks of lessons.-->



<iframe *ngIf="currentFormIndex !== null" #formFrame [src]="safeUrls[currentFormIndex]" (load)="checkFormCompletion(formFrame)" width="640" height="480" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
<p *ngIf="formCompleted">Your response has been recorded. The next form will be displayed in {{ nextFormTime }} seconds.</p>
<p *ngIf="currentFormIndex !== null && !formCompleted">Time remaining: {{ remainingTime }} seconds</p>
<p *ngIf="currentFormIndex === null">Ran out of time. The next form will be displayed in {{ nextFormTime }} seconds.</p>


