div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  width: 100vw;
}
h1 {
  margin-left: 5%;
  padding-top: 5%;
}
.top-schedule-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-card {
    max-width: 360px;
    margin-bottom: 8px;
    border-radius: 25px;
    margin-left: 5%;
    margin-top: 5%;
  }


  .header{
    padding-top: 5%;
    margin: 0;
    padding: 0;
    background: #2E5077;;
    height: 20%;
    width: 100vw;
    color: white;
    width: 100%;
    display: flex;
  }
