.top-schedule-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-card {
    max-width: 360px;
    margin-bottom: 8px;
    border-radius: 25px;
    justify-content: center;
  }


  
