$dark-green-palette: (
 50: #e6f0e6,
 100: #c4dbc3,
 200: #9fc39d,
 300: #7bae79,
 400: #629e5f,
 500: #4a8e46,
 600: #42813e,
 700: #387034,
 800: #2f602b,
 900: #20421d,
 A100: #c4dbc3,
 A200: #9fc39d,
 A400: #629e5f,
 A700: #387034,
 contrast: (
   50: #ffffff,
   100: #fafafa,
   200: #f5f5f5,
   300: #f0f0f0,
   400: #dedede,
   500: #c2c2c2,
   600: #979797,
   700: #818181,
   800: #606060,
   900: #3c3c3c,
   A100: #fafafa,
   A200: #f5f5f5,
   A400: #dedede,
   A700: #818181,
 )
);

$light-green-palette: (
 50: #eaf5e9,
 100: #cde7c9,
 200: #add8a6,
 300: #8dc983,
 400: #76be68,
 500: #60b24e,
 600: #56a345,
 700: #4a913a,
 800: #408031,
 900: #2c6120,
 A100: #cde7c9,
 A200: #add8a6,
 A400: #76be68,
 A700: #4a913a,
 contrast: (
   50: #ffffff,
   100: #fafafa,
   200: #f5f5f5,
   300: #f0f0f0,
   400: #dedede,
   500: #c2c2c2,
   600: #979797,
   700: #818181,
   800: #606060,
   900: #3c3c3c,
   A100: #fafafa,
   A200: #f5f5f5,
   A400: #dedede,
   A700: #818181,
 )
);
