@use '@angular/material' as mat;

@import '/src/theme.scss';
@import '/src/palette.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Monserrat', sans-serif;
}

button, input {
  font-family: inherit;
  background-color: mat.get-color-from-palette($my-primary, 900);
  transition: .25s background-color ease-in;
}

button.active {
  background-color: mat.get-color-from-palette($my-accent, 600);
  transition: .25s background-color ease-in;

}

