<div class="sidebar">
  <img src="../../../../assets/logos/Strong Schools Circle Logo.png" alt="">
  <button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
  <button routerLink="/admin/participants" routerLinkActive="active">Participants</button>
  <button routerLink="/admin/forms" routerLinkActive="active">Forms</button>
  <button routerLink="/admin/quizzes" routerLinkActive="active">Quizzes</button>
  <button routerLink="/admin/surveys" routerLinkActive="active">Surveys</button>
  <button routerLink="/admin/reports" routerLinkActive="active">Reports</button>
  <button routerLink="/admin/resources" routerLinkActive="active">Resources</button>
</div>

<app-profile class="profile">

</app-profile>
