<div class="sidebar">
  <img src="../../../../assets/logos/Strong Schools Circle Logo.png" routerLink="/admin/dashboard" style="cursor: pointer;" alt="logo">
  <button style="cursor: pointer;" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
  <button style="cursor: pointer;" routerLink="/admin/users" routerLinkActive="active">Users</button>
  <button style="cursor: pointer;" routerLink="/admin/forms" routerLinkActive="active">Intake Form</button>
  <button style="cursor: pointer;" routerLink="/admin/surveys" routerLinkActive="active">Surveys</button>
  <button style="cursor: pointer;" routerLink="/admin/quizzes" routerLinkActive="active">Quizzes</button>
  <button style="cursor: pointer;" routerLink="/admin/reports" routerLinkActive="active">Reports</button>
  <button style="cursor: pointer;" routerLink="/admin/resources" routerLinkActive="active">Resources</button>
</div>

<app-profile class="profile">

</app-profile>
